<div class="jumbotron">
    <h2>Sentence Builder Host service is now <mark>Running!</mark></h2>
    <p class="lead">To enable calls to be made to this backend's WebAPI service, please do not close this window and also do not stop the project.</p>
</div>
